<div class="full_wrap">
  <h1>Available Songs</h1>
  <p>
    <%= link_to 'New song', new_song_path %>
  </p>
<ul>
<% @songs.each do |song| %>
  <li>
  <b>Song:</b> <%=h song.title %> | <b>Album:</b> <%=h song.album.title %> | <% if song.active? %> <b>Active: </b>true | <% end %><% if song.downloadable? %> <b>Downloadable: </b>true | <% end %>
      <%= link_to 'Edit', edit_song_path(song) %> |
      <%= link_to 'Delete', song, :confirm => 'This will delete the lyrics as well. Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>
</div>