<% form_for(@album, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :cols => 28 %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :cover, "Upload Album Cover" %><br/>
    <%= f.file_field :cover, :size => 16 %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>