<% page_title("Supersofar Discography ")%>
<div class="header">
  <h2>Supersofar Discography</h2>
</div>
<% @albums.each do |album| %>
<div class="full_wrap">
<%= image_tag(album.cover.url(:small), :alt => album.title, :class => "left image_wrap")%>
    <h3><%=h album.title %></h3>
    <p><%= album.description %></p>
    <div class="album_tracks full_wrap">
      <ul>
    <% album.songs.each do |song|%>
    <li>
      <%= h song.track_number %> - <%= h song.title %> - <%= link_to "Song Page", song_path(song) %>
      <% if current_admin %>
       | <%= link_to "Edit Song", edit_song_path(song) %>
      <% end %>
    </li>
    <% end %>
    </ul>
    </div>
    <% if current_admin %>
    <div class="right">
    <%= link_to 'Upload Songs', new_song_path %> |
    <%= link_to 'New Album', new_album_path %> |
    <%= link_to 'Edit Album', edit_album_path(album) %> |
    <%= link_to 'Delete', album, :confirm => 'All Songs will be deleted too. Are you sure?', :method => :delete %>
    </div>
    <% end %>
</div>
<div class="clear"></div>
<% end %>