<% form_for(@photo, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author, "uploaded by" %><br />
    <%= f.text_field :author %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :cols => 28 %>
  </p>
  <p>
    <%= f.label "Choose An Album" %><br />
    <%= collection_select(:photo, :photo_album_id, @photo_albums, :id, :name)%> or <%= link_to "Create a New Album", new_photo_album_path %>
  </p>
  <p>
    <%= f.label :photo, "Browse for Photo" %><br/>
    <%= f.file_field :photo, :size => 16 %>
  </p>
  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>