<div id="grid_16 alpha omega">
  <ul id="main_nav">
    <li id="home"><%= link_to "Home", home_path %></li>
    <li id="news"><%= link_to "News", articles_path %></li>
    <li id="albums"><%= link_to "Discography", albums_path %></li>
    <li id="shows"><%= link_to "Shows", shows_path %></li>
    <li id="blog"><%= link_to "Blog", blog_path %></li>
  </ul>
</div>