<div id="grid_16 alpha omega">
  <ul id="main_nav">
    <% if current_admin %>
    <li id="dashboard"><%= link_to "Dashboard", dashboard_path %></li>
    <% end %>
    <li id="home"><%= link_to "Home", home_path %></li>
    <li id="news"><%= link_to "News", articles_path %></li>
    <li id="albums"><%= link_to "Discography", albums_path %></li>
    <li id="shows"><%= link_to "Shows", shows_path %></li>
    <li id="blog"><%= link_to "Blog", blog_path %></li>
    <li id="photos"><%= link_to "Photos", photo_albums_path %></li>
    <li id="links"><%= link_to "Links", links_path %></li>
    <li id="fans"><%= link_to "Fans", fans_path %></li>
  </ul>
</div>