<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body class="yui-skin-sam">
  <div id="wrapper" class="container_16">
  <% unless flash[:notice].nil? %>
    <div id="flash" class="grid_6 round_bottom" style="display: none">
      <%= flash[:notice] %>
    </div>
  <% end %>
	  <div id="hd">
	    <%= render :partial => 'layouts/login' %>
	    <%= render :partial => 'layouts/main_nav' %>
	  </div>
	  <div class="clear"></div>
    <div id="bd" class="grid_16">
        <div id="main_content" class="grid_11 alpha omega relative">
            <%= yield %>
        </div>
        <div id="sidebar" class="grid_5 alpha omega relative">
          <%= render :partial => "fans/login" %>
          <%= yield :sidebar %>
        </div>
    </div>
    <div class="clear"></div>
    <div id="ft">
      <%= render :partial => "layouts/footer_boilerplate" %>
      <%= render :partial => "layouts/admin_login_nav" %>
    </div>
	</div>
	<%= render :partial => "layouts/analytics" %>
</body>
</html>
